* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
background-color: #5b70a9;
border-radius: 12px;
padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
}



body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8DAEF2;
}

ul {
  list-style: none;
}

h1 {
  color: #6DF2DA;
}

/*Damos estilos a nuestra card*/

.Card-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  gap: 24px;
}

.Card {
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  background-color: #A7BAF2;
  box-shadow: 10px 10px 10px #5b70a9;
  transition: transform 0.3s;
  cursor: pointer;
}

.Card:hover {
  background-color: aquamarine;
  transform: translateY(-10px) scale(110%);
}

.Pokemon-Image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #8DAEF2;
}

.Pokemon-Info {
  margin-top: 10px;
  text-align: center;
  
}
.Pokemon-Name {
  font-size: 22px;
  margin-bottom: 10px;
  
}

.Pokemon-Type {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 12px;
  
}

.Pokemon-Description {
  margin-bottom: 12px;
  
}

.Pokemon-Powers {
  display: flex;
  justify-content: center;
  gap: 8px;
  
}

.Pokemon-attack {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  background-color: #85D3F2;
}